.threadrow{
	padding-left: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.backline{
	background: #ebedef;
	height: 12px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.rowtitle{
	display: block;
	width: 100px;
	position: absolute;
	left: 5px;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	font-weight: 400;
	background-color: white;
	top: 6px;
}

.plan {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #ffffff;
	/*background-color: #1abc9c;*/
  	/*z-index: 1;*/
  	top: 6px;
  	width: 60px;
  	text-align: center;
  	background: #1abc9c; /* Old browsers */
    
}

.task {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #ffffff;
	background-color: #1abc9c;
  	/*z-index: 1;*/
  	top: 6px;
  	width: 60px;
  	text-align: center;
}

/*
.second{
	left: 180px;
	width:120px;
	background-color:#f1c40f;
}

.newtask{

}*/

.task-add {
  position: absolute;
  left: 80px;
  top: 9px;
  z-index: 2;
  cursor: pointer;
}
.task-add .task-add-ico {
  font-size: 2em;
  /*font-weight: bolder;*/
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 1em;
  background-color: #1abc9c;
  /*border: 5px solid #ffffff;*/
  text-align: center;
  color: #ffffff;
}

.rulerow{
	padding-left: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.ruletitle{
	position: absolute;
	left: 0;
	top: 6px;
}

.ruleline{
	background: #ebedef;
	height: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.demo-panel-title{
	display: inline-block;
}

.btns{
	display: inline-block;
	float: right;
	margin-top: 33px;
	margin-bottom: 15px;
	/*position: fixed;*/
}

.btn-title{
	margin-left: 15px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}