.threadrow{
	padding-left: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.backline{
	background: #ebedef;
	height: 12px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.rowtitle{
	display: block;
	width: 200px;
	position: absolute;
	left: 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
}

.plan {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #ffffff;
	/*background-color: #1abc9c;*/
  	/*z-index: 1;*/
  	top: 6px;
  	width: 60px;
  	text-align: center;
  	background: #1abc9c; /* Old browsers */
    background: -moz-linear-gradient(left,  #CCFACC 30%, #1abc9c 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(30%,#CCFACC), color-stop(30%,#1abc9c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #CCFACC 30%,#1abc9c 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #CCFACC 30%,#1abc9c 30%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #CCFACC 30%,#1abc9c 30%); /* IE10+ */
    background: linear-gradient(to right,  #CCFACC 30%,#1abc9c 30%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCFACC', endColorstr='#1abc9c',GradientType=1 ); /* IE6-9 */  
}

.task {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #ffffff;
	background-color: #1abc9c;
  	z-index: 1;
  	top: 6px;
  	width: 60px;
  	text-align: center;
}

/*
.second{
	left: 180px;
	width:120px;
	background-color:#f1c40f;
}

.newtask{

}*/

.task-add {
  position: absolute;
  left: 80px;
  top: 9px;
  z-index: 2;
}
.task-add .task-add-ico {
  font-size: 2em;
  /*font-weight: bolder;*/
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 1em;
  background-color: #1abc9c;
  /*border: 5px solid #ffffff;*/
  text-align: center;
  color: #ffffff;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}